@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Lobster+Two&family=Tangerine:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=IBM+Plex+Serif:wght@500&family=Lobster+Two&family=Tangerine:wght@700&display=swap');

h1{
  padding-top: 10px;
font-family: 'Cardo', serif;
}
.text-center h1 {
    color: #000000;
}

.btn-link {
    color: #000000;
}

.btn-link:hover {
    text-decoration: none;
    color: #000000;
}

.card {
    border: 1px solid #ffb000;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.card-header {
    background-color: #ffb000;
    color: #fff;
    font-weight: bold;
}

.card-body ul {
    list-style: none;
    padding: 0;
}

.card-body ul li {
    margin-bottom: 5px;
}