.confirmation-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-hr {
    border-top: 1px solid #ccc;
  }
  
  
  .confirmation-btn {
    margin-top: 10px;      padding: 10px;
        background-color: #ffb000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  }
      button:hover {
        background-color: #555; 
  }
  .valign-center {   color: #333;
    
    display: inline-flex;
    align-items: center;
  }
  .foot_buttom{
    padding-bottom: 215px;
    
}