<div class="foot_buttom">
<div class="text-center"><h1 class="card-title confirmation-title">Confirmation</h1></div>
<div class="container mt-5">
  <div class="card confirmation-card">
    <div class="card-body">
      <p class="card-text"><strong>Voornaam:</strong> {{ voorNaam }}</p>
      <p class="card-text"><strong>Familienaam:</strong> {{ familieNaam }}</p>
      <p class="card-text"><strong>Tutor:</strong> {{ tutor }}</p>
      <p class="card-text"><strong>Leerjaar:</strong> {{ leerJaar }}</p>
      <p class="card-text"><strong>Niveaus:</strong> {{ niveau }}</p>
      <p class="card-text"><strong>Days:</strong> {{ dag }}</p>
      <hr class="confirmation-hr">
      <a href="/" class="btn btn-dark confirmation-btn">Confirm</a>
    </div>
  </div>
</div>
</div>