<div class="text-center"><h1>VOJ</h1></div>
<div class="accordion" id="accordion">
    <!-- Section 1 - Bedrijfsrekenen -->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Bedrijfsrekenen
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Procenten</li>
                    <li>Rente</li>
                    <li>Interest</li>
                    <li>Promille</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Section 2 - Wiskunde -->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Wiskunde
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Kwadraten</li>
                    <li>Differentiëren</li>
                    <li>Eerstegraads Functie</li>
                    <li>Goniometrie</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Section 3 - Natuurkunde -->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Natuurkunde
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Druk</li>
                    <li>Massa</li>
                    <li>Trillingen</li>
                    <li>Mechanica</li>
                </ul>
            </div>
        </div>
    </div>
</div>