@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Lobster+Two&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=IBM+Plex+Serif:wght@500&family=Lobster+Two&family=Tangerine:wght@700&display=swap");

h1 {
  padding-top: 10px;
  font-family: "Cardo", serif;
}
.gallery {
  display: inline-block;
  border: 1px solid hsl(0, 0%, 60%);
  margin: 5px;
  width: 400px;
}
.gallery .description {
  padding: 10px;
  text-align: center;
}
.gallery:hover {
  border: 1px solid hsl(0, 0%, 20%);
}
.gallery img {
  width: 100%;
  height: auto;
}
.foot_buttom {
  padding-bottom: 140px;
}
