@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Lobster+Two&family=Tangerine:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=IBM+Plex+Serif:wght@500&family=Lobster+Two&family=Tangerine:wght@700&display=swap');

h1{
  padding-top: 10px;
font-family: 'Cardo', serif;
}
.confirmation-logo {
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.confirmation-btn {
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffb000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
